  .login-image-container img{
    width: 75vw;
    height: auto;
  }
  

  .form-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }