.navigation{
  display:flex;
  width:100%;
  height:fit-content;
  min-height: 40px;
  background: var(--sc-color);
  align-items: center;
  position: fixed;
  bottom:0;
  z-index:1;
}

.navigation .nav-link{
  display:flex;
  justify-content: center;
  flex:1;
  cursor:pointer;
}